*{
    color: rgb(32, 0, 62);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Mali", cursive;
    height: 100vh;
    background-image: radial-gradient(
        rgb(0, 0, 255),
        rgb(119, 119, 252),
        rgb(75, 64, 174));
    background-size: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    background: rgb(255, 233, 120);
    border-bottom: 5px dashed rgb(0, 0, 0);
    border-radius: 10px 10px 0 0;
    text-align: center;
    font-size: 50px;
    padding: 10px 10px;
}

#container{
    width: 500px;
    background-color: rgb(233, 196, 254);
    border-radius: 10px;
    padding: 20px;
    
}

select, input, textarea{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 20px;

}

textarea{
    height: 150px;
}

#button{
    display: flex;
}

#button button{
    color:rgb(32, 0, 62);
    background:rgb(255, 233, 120);
    border: 10px ;
    font-size: 20px;
    width: 50%;
    border-bottom: 5px solid rgb(217, 181, 2);
    cursor: pointer;
    padding: 10px;
    margin: 0 10px;
    position: relative;

}

#button button :active{
    top: 2px;
}